@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<Grup22.Models.Seller>

@{
    ViewData["Title"] = "Bayiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p style="text-align:center; font:bold 30px arial, verdana;">MEVCUT BAYİLER</p>
@if (HttpContextAccessor.HttpContext.Session.GetInt32("isFactory") == 1)
{

<button type="button" class="btn btn-primary btn-lg" onclick="window.location.href= '/Seller/Create'" style="">Yeni Bayi Ekle</button>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sellerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellerOwnersName)
            </th>
            <th>
                İl
            </th>
            <th>
                İlçe
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sellerAdress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sellerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerOwnersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerCityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerTownName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sellerAdress)
            </td>
            <td>
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-default" onclick="window.location.href= '/Seller/Edit/@item.sellerId'">Düzenle</button>
                    <button type="button" class="btn btn-danger" onclick="window.location.href= '/Seller/Delete/@item.sellerId'">Sil</button>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
